:root {
    /* UI Colors */
    --black: #1E1E1E;  /* keyboard, new game button, & language text */
    --off-black: #262626;  /* body background */
    --word-background: #323232;
    --subheader: #8E8E8E;
    --off-white: #F9F4DA;  /* Banner, Title, languages */
    --white: #D9D9D9;
    --purple: #7A5EA7;  /* banner */
    --red: #BA2A2A;
    --coral: #EC5D49;
    --yellow: #FCBA29;
    --green: #10A95B;
    --border: #D7D7D7;
    --new-game-button-bg: #11B5E5;

    /* Lanugages */
    --html: #E2680F;
    --css: #298EC6;
    --javascript: #F4EB13;
    --react: #2ED3E9;
    --typescript: #328AF1;
    --nodejs: #599137;
    --python: #FFD742;
    --ruby: #D02B2B;
    --assembly: #2D519F;
}

* {
    box-sizing: border-box;
}

body, h1, p {
    margin: 0;
    text-align: center;
}

html {
    height: 100dvh;
}

#root {
    height: 100dvh;
}

body {
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: var(--black);
    color: var(--white);
    padding-inline: 20px 20px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body, button {
    font-family: 'Hanken-Grotesk', sans-serif;
    letter-spacing: 0.01em;
    color: var(--black);
}

/* -------------------------- */
/* --------- LAYOUT --------- */
/* -------------------------- */

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    max-height: 750px;
    padding-block: 40px;
}

header {
    flex: 2 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.banner {
    flex: 1 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    /* padding: 1em; */
    max-width: 80%;
    margin: 0 auto;
}

main {
    flex: 1 1 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 1.4em;
    color: var(--off-white);
}

p {
    font-size: 1rem;
    line-height: 1.4;
}

.subheader {
    color: var(--subheader);
    font-size: 0.9em;
    margin-top: .5rem;
    /* text-wrap: balance; */
    max-width: 65%;
}

.language-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    width: fit-content;
    max-width: 320px;
    padding: 3px;

    > span {
        flex-shrink: 0;
        font-weight: 600;
        font-size: 0.7em;
        border-radius: 4px;
        padding: .4em .8em;
        background-color: var(--off-white);
    }

    .css, .typescript, .nodejs, .ruby, .assembly {
        color: var(--off-white);
    }

    .html {
        background-color: var(--html);
    }

    .css {
        background-color: var(--css);
    }

    .javascript {
        background-color: var(--javascript);
    }

    .react {
        background-color: var(--react);
    }

    .typescript {
        background-color: var(--typescript);
    }

    .nodejs {
        background-color: var(--nodejs);
    }

    .python {
        background-color: var(--python);
    }

    .ruby {
        background-color: var(--ruby);
    }

    .assembly {
        background-color: var(--assembly);
    }
}

.word {
    display: flex;
    gap: 2px;
    margin-top: 1.5rem;
}

.keyboard {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    max-width: 460px;
    justify-content: center;
    margin-top: 3.4rem;
}

.wordKey {
    width: 40px;
    height: 40px;
    border: var(--border) 1.5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    font-weight: 600;
    color: var(--off-white);
    background-color: var(--word-background);
    border-top-width: 0;
    border-inline-width: 0;
}

.keyboardKey {
    width: 40px;
    height: 40px;
    border: var(--border) 1.5px solid;
    background-color: var(--yellow);
    border-radius: 4px;
}

/* -------------------------- */
/* -------- STATUS ---------- */
/* -------------------------- */

.banner > div {
    display: none;
    background-color: var(--red);
    padding: .8em 1.5em;
}

.banner p {
    color: var(--off-white);
    font-size: 0.9rem;
}

.banner p:first-child {
    font-size: 1.2rem;
    margin-bottom: .3rem;
}

div.button-container {
    height: 40px;
}

button.new-game-button {
    display: none;
    background-color: var(--new-game-button-bg);
    border-radius: 7px;
    width: 220px;
    height: 100%;
    margin-top: 1.75rem;
}

.darken {
    filter: brightness(.5);
}